{
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "es5",
  "printWidth": 80,
  "semi": true,
  "arrowParens": "avoid",
  "endOfLine": "auto",
  "overrides": [
    {
      "files": ["*.json", "*.json5"],
      "options": {
        "trailingComma": "none",
        "tabWidth": 2,
        "printWidth": 900,
        "bracketSpacing": false,
        "arrowParens": "always",
        "endOfLine": "lf"
      }
    }
  ]
}
