- never add css to style attribute
- use tailwindcss v4 for styling only
- always follow latest v4 guidelines for tailwindcss
- never use inline styles
- use shadcn/ui
- use bun as package manager
- no SSR, yes SSG
